@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<p class="text-danger">出现错误！</p>
<p class="text-danger">@Model.Message</p>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}