/** Common style */
html {
    height: 100%;
    box-sizing: border-box;
}

body {
    background-color: #F5F5F5;
}

/** The style of order code */

.order-code {
    position: relative;
    z-index: 1;
}

.order-code:after {
    content: '';
    display: block;
    width: 105%;
    height: 6px;
    background-color: #CBDCFF;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

/** The style of circle progress. */

.circle-progress {
    width: 60px;
    height: 60px;
}

.circle-progress-value {
    stroke-width: 5px;
    stroke: white;
}

.circle-progress-circle {
    stroke-width: 10px;
    stroke: #198754;
}

.circle-progress-text {
    fill: #198754;
    font-size: 1.55rem;
}